<!DOCTYPE html>
<html>
<head>
  <title>Anagram Finder</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'jquery.form', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
<h1>Anagram Finder</h1>

<%= yield %>

</body>
</html>
